.container-full{
  max-width: 1400px;
  width: 100%;
  background-color:white;
  margin: auto;
  height: 62px;
  position: relative;
}
.contentcart{
  width: 160px;
  border-radius: 15px;
}
.img-contentcart{
  margin-top: 20px;
  border-bottom: 1px solid rgb(233, 231, 231);
  padding-bottom: 20px;
}
.contentcart-btn{
  text-align: center;
  margin-left: 12px;

}
.price-contentcart{
  padding-top: 10px;
}
.search{
  margin-top: -22px;
}
.contensearch{
  width: 400px;
  
}
.item-contensearch{
  color: black;
}
.item-contensearch :hover{
  background-color: rgb(237, 237, 245);
}


